@primary-color: #00529c;
@pages-bgc: #f7f9fb;
@footer-color: #dbdcdd;
@footer-title-color: #3e3d40;
@footer-links-color: #707173;
@footer-links-color-hover: #1a171b;


@desktop-width: ~"(min-width: 1200px)";
@phone-width: ~"(min-width: 960px)";
