@primary-color: #00529c;
@pages-bgc: #f7f9fb;
@light-grey-bgc: #fafafa;
@footer-color: #dbdcdd;
@new-products: rgba(116, 185, 179, 0.75);


@desktop-width: ~"(min-width: 1200px)";
// @-width: ~"(min-width: 960px)";
