@primary-color: #00529c;
@pages-bgc: #f7f9fb;
@light-grey-bgc: #fafafa;
@footer-color: #dbdcdd;

@footer-title-color: #3e3d40;
@footer-links-color: #707173;
@footer-links-color-hover: #1a171b;

@new-products: rgba(116, 185, 179, 0.75);



@desktop-width: ~"(min-width: 1200px)";
// @-width: ~"(min-width: 960px)";
