/* ---- GOODS INDEX ---- -*/
.goods__title {
  margin-bottom: 10px;

  font-size: 142.8%;
}
.goods--slider {

  margin-bottom: 55px;

  border-top: 1px solid #d8dcde;
  background: #fff;
}
.goods__item-mark {
  padding: 5px 8px;

  position: absolute;
  left: -20px;

  max-width: 30px;

  font-family: 'PT Sans Narrow', sans-serif;
  font-size:128.5%;
  font-weight:700;

  text-transform: uppercase;
  color:#fff;
}
.mark-new {
  background: @new-color;
}
.mark-bestseller {
  background: @hit-color;
}
.mark-sale {
  background: @sale-color;
}
.goods__item {
  max-width: 208px;
  height: 100%;

  padding: 27px 24px 15px 24px;

}
.goods__item-wrap {

  height: 100% !important;
  width: 100%;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}
.goods__item-text--wrap {

}
.goods__item-description {
  margin-bottom: 13px;

  color: @title-color;
}
.goods__item-article {


  color: @text-color;
}
.goods__item-price {
  flex-grow: 3;

  font-weight: bold;
  font-size: 142.8%;
}
.goods__item-hover {
  display: none;
}

/* ---- END GOODS INDEX ---- -*/
