/*----- M-GOODS -----*/

/*----- m-goods -----*/

.m-goods {
  .container-fluid();

  background-color: @light-grey-bgc;
}

.m-goods__title {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;

  font-size: 114%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;

  &::after {
    content: "";

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-self: center;

    width: 74px;
    height: 3px;
  }
}

.m-goods__title--new {
  &::after {
    background-color: @new-color;
  }
}

.m-goods__slider {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  font-size: 80%;
}

/*----- m-product -----*/

.m-product {
  max-width: 146px;
  height: 258px;
}

.m-product__wrap {
  position: relative;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;

  &:last-child {
    background-color: #e6e7e8;
  }
}

.m-product__top-wrap {
  position: absolute;
  top: 6px;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.m-product__mark {
  padding: 1px 6px;

  font-size: 118%;
  text-transform: uppercase;
}

.m-product__mark--new {
  color: #ffffff;

  background-color: @new-color;
}

.m-product__icons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.m-product__icon {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.m-product__icons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.m-product__image {
  height: 120px;
  margin-bottom: 6px;
}

.m-product__description {
  margin-bottom: 6px;
}

.m-product__article {
  margin-bottom: 8px;
}

.m-product__btn {
  width: 120px;
  margin-bottom: 4px;
}

.m-product__price {
  font-size: 136%;
}

/*----- END-M-GOODS -----*/
