/*----- FOOTER -----*/

footer {
  background-color: @footer-color;

}
.footer-links {
  .container();
}
.footer-links__wrap {
  padding: 0px 20px 0px 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: space-between;

}
.footer__links-item {
  padding: 14px 0px 12px 0px;
}

.footer__links-item ul li:first-child {
  margin-bottom: 17px;

  text-transform: uppercase;
  color: @footer-title-color;
}

.footer__links-item ul li {
  margin-bottom: 8px;
}

.footer__links-item a {
  color: @footer-links-color;
}
.footer__links-item a:hover {
  text-decoration: underline;

  color: @footer-links-color-hover;
}
.footer__download {
  margin-bottom: 20px;
}
.footer__download-appstore {
  padding: 15px 3px 0px 10px;
  margin-right: 20px;

  background: #000;
  border: 1px solid #000;
}
.footer__download-appstore:hover {
  border: 1px solid transparent;

  -moz-border-image: -moz-linear-gradient(top, #cb6902 0%, #f6c35e 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #cb6902 0%, #f6c35e 100%);
  border-image: linear-gradient(to top, #cb6902 0%, #f6c35e 100%);

  border-image-slice: 1;
}
.footer__download-appstore:active {
  /*border: 1px solid transparent;*/

  background: linear-gradient(to top, #cb6902 0%, #f6c35e 100%);

}
.footer__download-appstore img {


  width: 88px;
  height: 25px;
}
.footer__download-googleplay {
  padding: 15px 10px 0px 7px;

  background: #fff;
  border: 1px solid #fff;
}
.footer__download-googleplay:hover {
  border: 1px solid #000;
}
.footer__download-googleplay img {
  width: 88px;
  height: 25px;
}

.footer__social {
  margin-bottom: 15px;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social p {
  text-transform: uppercase;
  color: @footer-title-color;
}

.footer__social-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.footer__social-sprite {
    margin-right: 13px;

    background-image: url("../img/footer-sprite.png");
    background-repeat: no-repeat;
    display: block;
}
.footer__social-sprite:last-child {
   margin-right: 0;
}

.footer__social-youtube {
    width: 27px;
    height: 28px;
    background-position: -10px -10px;
}

.footer__social-vk {
    width: 28px;
    height: 28px;
    background-position: -57px -10px;
}

.footer__social-fb {
    width: 27px;
    height: 28px;
    background-position: -105px -10px;
}





.footer__yandex {

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;

  /*text-transform: uppercase;*/
}
.footer__yandex p {
  text-transform: uppercase;
  color: @footer-title-color;
}
.footer__yandex a {
  color: @footer-links-color;
  text-decoration: underline;
  font-style: italic;
}
.footer__smallbg {
  background: url("../img/footer-bg.png") repeat-x;

  height: 10px;
}

.footer__copyright {
  background-color: @primary-color;
}
.footer__copyright-wrap {
  .container();
}
.footer__copyright-text {
  padding: 8px 0px 12px 30px;

  font-size:93%;
  line-height: 170%;

  color: #fff;
}


/*----- END-FOOTER -----*/
