/*----- modal-content-city -----*/

.modal-login {
  padding: 20px 17px;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;

  max-width: 300px;
  
  background: @primary-color-hover;
}
